
#wrapper {
    max-width: 900px;
    min-height: 500px;
    display: flex;
    margin: auto;
    color: white;
    font-size: 14px;
}

#header {
    background-color: #485b6c;
    height: 70px;
    font-size: 40px;
    text-align: center;
}

.padd {
    padding: 10px;
}


#left_pannel {
    min-height: 500px;
    background-color: #27344b;
    flex: 1;
    text-align: center;
}

.fontSize {
    font-size: 20px;
    opacity: 0.5;
}

/* si j'ajoute une photo de profil
#left_pannel img {
    width: 80%;
    border: solid thin white;
    border-radius: 50%;
    margin: 10px;
} */

#left_pannel label {
    width: 100%;
    height: 20px;
    display: block;
    background-color: #404b56;
    border-bottom: solid thin #ffffff55;
    cursor: pointer;
    padding: 5px;
    transition: all 1s ease;
}

#left_pannel label:hover {
    background-color: #778593;   
}

#left_pannel img {
    float: right;
    width: 25px;
    
}


#right_pannel {
    min-height: 500px;
    flex: 4; 
    text-align: center;
}

#container {
    display: flex;
}

#inner_left_pannel {
    background-color: #383e48;
    flex: 1;
    min-height: 430px;
}

#inner_right_pannel {
    background-color: #f2f7f8;
    flex: 1;
    min-height: 430px;
    transition: all 2s ease;
}

#radio_video:checked ~ #inner_right_pannel {
    flex: 0;
}

#radio_channel:checked ~ #inner_right_pannel {
    flex: 0;
}

#radio_settings:checked ~ #inner_right_pannel {
    flex: 0;
}

input {  /* doubts */
    display: none;
}